<p>
  About Works!
</p>

<div fxLayout style="margin-bottom: 10px">
  <div fxFlex>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item>
        <i class="fa fa-pause" aria-hidden="true"></i>
        <span>Pause</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-play" aria-hidden="true"></i>
        <span>Start</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-stop" aria-hidden="true"></i>
        <span>Stop</span>
      </button>
    </md-menu>
    <button md-raised-button [mdMenuTriggerFor]="appMenu">
      <button md-menu-item>Batch Actions</button>
    </button>
  </div>
  <div fxFlex="50%">
    <small class="md-caption">11.66 Mbit/s | 00:01:45 | 50% | 1.5 MB / 3 MB</small>
    <md-progress-bar [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
    </md-progress-bar>
  </div>
</div>

<md-card>
  <div class="md-table-container">
    <table class="md-table">
      <thead class="md-head">
        <tr class="md-row">
          <th class="md-column"><md-checkbox></md-checkbox></th>
          <th class="md-column">Name</th>
          <th class="md-column">Size</th>
          <th class="md-column">Transfer Type</th>
          <th class="md-column">Status</th>
          <th class="md-column">Speed</th>
          <th class="md-column">Elapsed Time</th>
          <th class="md-column">Remaining Time</th>
          <th class="md-column">Actions</th>
        </tr>
      </thead>
      <tbody class="md-body">
        <ng-template ngFor let-item [ngForOf]="testItems" let-i="index" [ngForTrackBy]="trackByFn">
          <tr class="md-row">
            <td class="md-cell"><md-checkbox></md-checkbox></td>
            <td class="md-cell">{{item.name}}</td>
            <td class="md-cell">{{item.size}}</td>
            <td class="md-cell">{{item.transferType}}</td>
            <td class="md-cell">
              <div *ngIf="item.progress > 0; else elseBlock">
                <md-progress-bar [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
                </md-progress-bar>                
              </div>
              <ng-template #elseBlock>{{item.status}}</ng-template>
            </td>
            <td class="md-cell">{{item.speed}}</td>
            <td class="md-cell">{{item.elapsedTime}}</td>
            <td class="md-cell">{{item.remainingTime}}</td>
            <td class="md-cell">
              <md-menu #appMenu="mdMenu">
                <button md-menu-item>
                  <i class="fa fa-pause" aria-hidden="true"></i>
                  <span>Pause</span>
                </button>
                <button md-menu-item>
                  <i class="fa fa-play" aria-hidden="true"></i>
                  <span>Start</span>
                </button>
                <button md-menu-item>
                  <i class="fa fa-stop" aria-hidden="true"></i>
                  <span>Stop</span>
                </button>
              </md-menu>
              <button md-icon-button [mdMenuTriggerFor]="appMenu">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</md-card>