<p>
  About Works!
</p>

<div fxLayout style="margin-bottom: 10px">
  <div fxFlex>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item>
        <i class="fa fa-pause" aria-hidden="true"></i>
        <span>Pause</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-play" aria-hidden="true"></i>
        <span>Start</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-stop" aria-hidden="true"></i>
        <span>Stop</span>
      </button>
    </md-menu>
    <button md-raised-button [mdMenuTriggerFor]="appMenu">
      <button md-menu-item>Batch Actions</button>
    </button>
  </div>
  <div fxFlex="50%">
    <small class="md-caption">11.66 Mbit/s | 00:01:45 | 50% | 1.5 MB / 3 MB</small>
    <md-progress-bar [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
    </md-progress-bar>
  </div>
</div>

<md-card>
  <div class="md-table-container">
    <table class="md-table">
      <thead class="md-head">
        <tr class="md-row">
          <th class="md-column">[]</th>
          <th class="md-column">Name</th>
          <th class="md-column">Size</th>
          <th class="md-column">Transfer Type</th>
          <th class="md-column">Status</th>
          <th class="md-column">Elapsed Time</th>
          <th class="md-column">Remaining Time</th>
          <th class="md-column">Actions</th>
        </tr>
      </thead>
      <tbody class="md-body">
        <tr class="md-row">
          <td class="md-cell">a1</td>
          <td class="md-cell">b1</td>
          <td class="md-cell">c1</td>
          <td class="md-cell">d1</td>
          <td class="md-cell">
            <md-progress-bar [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
            </md-progress-bar>
          </td>
          <td class="md-cell">f1</td>
          <td class="md-cell">g1</td>
          <td class="md-cell">h1</td>
        </tr>
        <tr class="md-row">
          <td class="md-cell">a2</td>
          <td class="md-cell">b2</td>
          <td class="md-cell">c2</td>
          <td class="md-cell">d2</td>
          <td class="md-cell">e2</td>
          <td class="md-cell">f2</td>
          <td class="md-cell">g2</td>
          <td class="md-cell">h2</td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>