@import 'src/style/angular-material-theme.scss';

$dtm-dropzone-radius: 6px !default;

.dtm-dropzone {
    cursor: pointer;
	border: 2px dashed;
	border-radius: $dtm-dropzone-radius;
	width: 100%;
	height: 150px;
	text-align: center;
	display: table;
    color: mat-contrast($candy-app-primary, 50);
	background-color: mat-color($candy-app-primary, 50);
}

.dtm-dropzone-content {
	vertical-align: middle;
	display: table-cell;
}