<md-select placeholder="Page" [(ngModel)]="paginationService.pagination.page" (change)="onPageChange()" aria-label="Page">
    <md-option *ngFor="let p of paginationService.pagination.pages" [value]="p">
        {{ p }}
    </md-option>
</md-select>
<md-select placeholder="Rows per page" [(ngModel)]="paginationService.pagination.rpp" (change)="onRppChange()" aria-label="Rows per page">
    <md-option *ngFor="let o of paginationService.pagination.rppOptions" [value]="o">
        {{ o }}
    </md-option>
</md-select>
<span>{{min()}} - {{max()}} of {{paginationService.pagination.total}}</span>
<button md-icon-button md-button (click)="movePrevious()" [disabled]="!hasPrevious()"><md-icon>navigate_before</md-icon></button>
<button md-icon-button md-button (click)="moveNext()" [disabled]="!hasNext()"><md-icon>navigate_next</md-icon></button>