@import '~@angular/material/theming';
@import 'src/style/angular-material-theme.scss';

$dtm-dropzone-radius: 6px !default;
$dtm-container-radius: 2px !default;

$dtm-gray: lighten(#000, 90%);;

.dtm-dropzone {
    cursor: pointer;
	border: 2px dashed;
	border-radius: $dtm-dropzone-radius;
	width: 100%;
	height: 150px;
	text-align: center;
	display: table;
    color: mat-contrast($candy-app-primary, 50);
	background-color: mat-color($candy-app-primary, 50);
}

.dtm-dropzone-content {
	vertical-align: middle;
	display: table-cell;
}

.dtm-container {
    @include mat-elevation-transition;
    display: block;
    border-radius: $dtm-container-radius;

    &:not([class*='mat-elevation-z']) {
        @include mat-elevation(2);
    }

    > .dtm-container-headline:first-child  {
        border-top-left-radius: $dtm-container-radius;
        border-top-right-radius: $dtm-container-radius;
    }
}

.dtm-container-header {
    padding: 10px 20px 10px 10px;
    font-size: 13px;
    font-weight: bold;
}

.dtm-container-footer {
    padding: 10px 20px 10px 10px;
    font-size: 12px;
}

.dtm-container-headline {
    padding: 10px;
    font-size: 11px;
    color: mat-contrast($candy-app-primary, 600);
    background-color: mat-color($candy-app-primary, 600);
}

.dtm-container-item {
    //margin-bottom: 10px;
    padding: 0px 20px 0px 10px;
    font-size: 13px;

    &.selected {
        color: mat-contrast($candy-app-primary, 50);
        background-color: mat-color($candy-app-primary, 50);
    }
}

.dtm-container-item-entry-1 {
    padding: 10px 0px 10px 0px;
}

.dtm-container-item-stats {
    font-size: 11px;
}