@import 'src/style/angular-material-theme.scss';

$amd-container-radius: 2px !default;

$amd-gray: lighten(#000, 90%);;

.angular-material-datatransfer {
  font-family: Roboto, sans-serif;
}

.truncate-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.amd-container {
    @include mat-elevation-transition;
    display: block;
    border-radius: $amd-container-radius;

    &:not([class*='mat-elevation-z']) {
        @include mat-elevation(2);
    }

    > .amd-container-headline:first-child  {
        border-top-left-radius: $amd-container-radius;
        border-top-right-radius: $amd-container-radius;
    }
}

.amd-container-header {
    padding: 10px 20px 10px 10px;
    font-size: 13px;
    font-weight: bold;
}

.amd-container-footer {
    padding: 10px 20px 10px 10px;
    font-size: 12px;
}

.amd-container-headline {
    padding: 10px;
    font-size: 13px;
    color: mat-contrast($candy-app-primary, 600);
    background-color: mat-color($candy-app-primary, 600);
}

.amd-container-item {
    //margin-bottom: 10px;
    padding: 0px 20px 0px 10px;
    font-size: 13px;

    &.selected {
        color: mat-contrast($candy-app-primary, 50);
        background-color: mat-color($candy-app-primary, 50);
    }
}

.amd-container-item-entry-1 {
    padding: 10px 0px 10px 0px;
    height: 60px;
}

.amd-container-item-entry-2 {
    padding: 10px 0px 10px 0px;
    height: 60px;
}

.amd-container-item-stats {
    font-size: 11px;
}