<div style="padding: 40px;">
  <div class="dtm-dropzone" id="dropzoneElement">
    <div class="dtm-dropzone-content">
      <i class="fa fa-file-o fa-3x"></i><i class="fa fa-plus-circle"></i>
      <p>Drop your files/folders here or click to upload.</p>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-sm="column" style="margin-bottom: 10px">
  <div fxFlex>
    <button md-raised-button>Start all</button>
    <button md-raised-button [mdMenuTriggerFor]="appMenu">Batch actions <i class="fa fa-caret-down" aria-hidden="true"></i></button>
    <button md-raised-button (click)="testFn()">Retry (2)</button>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item>
        <i class="fa fa-pause" aria-hidden="true"></i>
        <span>Pause</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-play" aria-hidden="true"></i>
        <span>Start</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-stop" aria-hidden="true"></i>
        <span>Stop</span>
      </button>
      <button md-menu-item>
        <i class="fa fa-times" aria-hidden="true"></i>
        <span>Remove</span>
      </button>
    </md-menu>
  </div>
  <div fxFlex>
    <div class="dtm-container-item-stats" style="margin-top: 10px;">
      <div fxFlex="25%" fxFlex.lt-md="50%">
        489.7 KB/s
      </div>
      <div fxFlex="25%" fxHide.lt-md style="text-align: center">
        00:00:49
      </div>
      <div fxFlex="25%" fxHide.lt-md style="text-align: center">
        50%
      </div>
      <div fxFlex="25%" fxFlex.lt-md="50%" style="text-align: right">
        {{calculateProgressSize(testItem0)}} / 15 MB
      </div>
    </div>
    <md-progress-bar [color]="color" [mode]="mode" [value]="testItem0.progress" [bufferValue]="bufferValue">
    </md-progress-bar>
  </div>
</div>

<div class="dtm-container">
  <div fxLayout="row" class="dtm-container-header">
    <div fxFlex>
      <div style="align-items: center;">
        <div fxFlex="40px">
          <md-checkbox (change)="toggleAll($event.checked)"></md-checkbox>
        </div>
        <div fxFlex="50%">
          Filename
        </div>
        <div fxFlex="20px">
        </div>
        <div fxFlex="50%" fxHide.lt-sm>
          Progress
        </div>
        <div fxFlex="20px">
        </div>
      </div>
    </div>
  </div>
  <ng-template ngFor let-item [ngForOf]="testItems" let-i="index" [ngForTrackBy]="trackByFn">
    <div *ngIf="showPath(i)" class="dtm-container-headline">
      <i class="fa fa-folder-o" aria-hidden="true"></i> {{item.path}}
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" class="dtm-container-item" [ngClass]="{'selected': item.isSelected}">
      <div fxFlex class="dtm-container-item-entry-1">
        <div style="align-items: center;">
          <div fxFlex="40px">
            <md-checkbox [(ngModel)]="item.isSelected"></md-checkbox>
          </div>
          <div fxFlex="100%" class="truncate-text">
            <div mdTooltip="{{item.name}}" mdTooltipPosition="above">
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex class="dtm-container-item-entry-2">
        <div style="align-items: center;">
          <div fxFlex="20px">
            <i class="fa-lg" [ngClass]="getStatusClass(item.status)" aria-hidden="true"></i>
          </div>
          <div fxFlex="100%">
            <div *ngIf="item.progress > 0; else elseBlock">
              <div class="dtm-container-item-stats">
                <div fxFlex="25%" fxFlex.lt-md="50%">
                  {{item.speed}}
                </div>
                <div fxFlex="25%" fxHide.lt-md style="text-align: center">
                  {{item.elapsedTime}}
                </div>
                <div fxFlex="25%" fxHide.lt-md style="text-align: center">
                  {{item.progress}}%
                </div>
                <div fxFlex="25%" fxFlex.lt-md="50%" style="text-align: right">
                  {{calculateProgressSize(item)}} / {{item.size}} MB
                </div>
              </div>
              <md-progress-bar [color]="color" [mode]="mode" [value]="item.progress" [bufferValue]="bufferValue">
              </md-progress-bar>
            </div>
            <ng-template #elseBlock>{{item.status}}</ng-template>
          </div>
          <div fxFlex="20px">
            <md-menu #appMenu="mdMenu">
              <button md-menu-item>
                <i class="fa fa-pause" aria-hidden="true"></i>
                <span>Pause</span>
              </button>
              <button md-menu-item>
                <i class="fa fa-play" aria-hidden="true"></i>
                <span>Start</span>
              </button>
              <button md-menu-item>
                <i class="fa fa-stop" aria-hidden="true"></i>
                <span>Stop</span>
              </button>
              <button md-menu-item>
                <i class="fa fa-times" aria-hidden="true"></i>
                <span>Remove</span>
              </button>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="appMenu">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div style="font-size: 12px; margin-top: 20px; text-align: right;">
  <md-select placeholder="Page">
    <md-option>1</md-option>
    <md-option>2</md-option>
  </md-select>
  <md-select placeholder="Rows per page">
    <md-option>5</md-option>
    <md-option>10</md-option>
    <md-option>15</md-option>
  </md-select>
  <span>1-5 of 522</span>
  <button md-icon-button md-button><i class="fa fa-angle-left" aria-hidden="true"></i></button>
  <button md-icon-button md-button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>