$amd-dropzone-radius: 6px !default;
.amd-dropzone {
    cursor: pointer;
    border: 2px dashed;
    border-radius: $amd-dropzone-radius;
    width: 100%;
    height: 150px;
    text-align: center;
    display: table;
    color: mat-contrast($amd-primary, 50);
    background-color: mat-color($amd-primary, 50);
    margin-bottom: 40px;
}
.amd-dropzone-content {
    vertical-align: middle;
    display: table-cell;
}