// https://material.io/guidelines/style/color.html#color-color-palette
// https://github.com/angular/material2/blob/master/guides/theming.md

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define an alternate theme.
$amd-primary: mat-palette($mat-blue);
$amd-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$amd-warn:    mat-palette($mat-red);
$amd-theme:   mat-light-theme($amd-primary, $amd-accent, $amd-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.angular-material-datatransfer` will be affected by this alternate theme instead of the default theme.
.angular-material-datatransfer {
  @include angular-material-theme($amd-theme);
}
