// styles in src/style directory are applied to the whole page
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

body {
  font-family: Roboto, sans-serif;
}

a {
    color: #03A9F4;
}

.truncate-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

// table
// https://github.com/daniel-nagy/md-data-table
.md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table.md-table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;

  th.md-column {
    //color: @md-dark-secondary;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;

    &.md-sort {
      cursor: pointer;
    }

    &.md-active,
    &.md-active md-icon {
      //color: @md-dark;
    }

    &:hover md-icon.md-sort-icon,
    &.md-active md-icon.md-sort-icon {
      opacity: 1;
    }
  }

  &.md-row-select tbody.md-body > tr.md-row {
    transition: background-color 0.2s;

    &:not([disabled]):hover {
      //background-color: @md-dark-row-hover !important;
    }

    &.md-selected {
      //background-color: @md-dark-row-select;
    }
  }

  td.md-cell,
  th.md-column {
    vertical-align: middle;
    text-align: left;

    > * {
      vertical-align: middle;
    }
  }

  td.md-cell {
    //color: @md-dark;
    font-size: 13px;
    //border-top: 1px @md-dark-divider solid;
  }
}