<p>
  Home Works!
</p>
<p>
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"></i>
</p>
<p>
  <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
    <button md-raised-button color="primary">PRIMARY RAISED</button>
    <button md-raised-button color="accent">ACCENT RAISED!</button>
  </md-card>
</p>

<div fxFlexFill fxLayout="column">
  <div fxFlex>
    <div [fxLayout]="direction" (click)="toggleDirection()" class="colored box">
      <div fxFlex="20"> fxFlex="20" </div>
      <div fxFlex="60"> fxFlex="60" </div>
      <div fxFlex> fxFlex </div>
    </div>
  </div>
</div>